.session-options
  -if has_session? 
    %ul
      %li
        =link_to "Perfil", :controller=>:users, :action=>:show, :id=>user_session.user_id
      -if user_session.facebook_user
        %li
          = link_to_function 'Terminar Sessão', 'FB.Connect.logout(function() {logout()})',:id=>"logout_link"
      -else
        %li
          =link_to "Terminar Sessão", :controller=>:sessions, :action=>:destroy
  -else
    %ul
      %li
        =link_to "Criar Conta", :controller=>:users, :action=>:new
      %li
        =link_to "Iniciar Sessão", new_session_url