body {
    margin: 0;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    color: #5A554E;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #32639A;
    font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.6em;
}



#logo {
    width: 377px;
    float: left;
}

#profile-info {
	width:610px;
	float:right;
	background-color:red;
	
}
#header {	
	position:relative;	
	height: 89px;
	clear:both;
	background-color:#0D6B82;
}
#main {
	width:987px;  /*Fibbonacci number*/
	margin-left: auto;
	margin-right: auto;
	background-color: #000;
}
#sub-header {
	position:relative;	
	height: 34px;
	clear:both;
	background-color:#133D47;	
}
#main-menu {
	width:610px;
	float:left;
	background-color:red;
}
#search-bar {
	width: 377px;
	float:right;
	background-color:blue;
}
#main-content {
	background-color:#4920FF;
	clear:both;

}

#main-left {
	background-color:blue;
	float:left;
	width:754px;
}
#main-right {
	background-color:red;
	float:left;
	width:233px;
}

#footer {
	clear:both;
	background:blue;
}
#footer-left {
	width:329px;
	background-color:blue;
	float:left;	
}
#footer-center {
	width:329px;
	background-color:blue;
	float:left;	
	
}
#footer-right {
	width:329px;
	background-color:red;
	float:right;

}

.clear {
	clear:both;
}
