body {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: #5A554E;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #32639A;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.6em;
}

/**Header section*/
#header {
    position: relative;
    height: 89px;
    clear: both;
}

#header-logo {
    width: 377px;
    float: left;
}

#header-profile {
    height: 89px;
    width: 610px;
    float: right;
    text-align: right;
}

.no-profile-menu {
}

.no-profile-menu ul {
    padding: 0px;
    margin: 0px;
    display: inline;
}

.no-profile-menu ul li {
    padding: 0px;
    margin: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    list-style:none;
    display: inline;
	margin-left:-5px;
   
}

.no-profile-menu a, .no-profile-menu a:visited {
    text-decoration: none;
    color: #0E1F5B;
    padding: 3px 15px;
	border-left: 1px solid #999999;
}

.no-profile-menu a:hover {
    background-color: #5C75AA;
    color: #fff;
}

#sub-header {
    position: relative;
    height: 34px;
    clear: both;
}

#main-menu {
	padding-top:13px;
    width: 610px;
    float: left;
	
	
	
	
}

#main-menu ul {
    margin-left: 0;
    padding-left: 0;
    display: inline;
	padding:0;
	margin:0;
	
	
}

#main-menu ul li {
    padding:0;
	margin:0;
	padding-top: 3px;
    padding-bottom: 3px;
    list-style: none;
    display: inline;
	
	
   
}

#main-menu a, #main-menu a:visited {
    text-decoration: none;
 	font-weight:bold;
    padding: 3px 15px;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	border-top: 1px solid #999999;
	
	 background-color: #5C75AA;
    color: #fff;
	
	
}

#main-menu a:hover {
    background-color: #fff;
    color: #0E1F5B;
}



#search-bar {
    width: 377px;
    float: right;
    text-align: right;
}

/*Main content*/
#main {
    width: 987px; /*Fibbonacci number*/
    margin-left: auto;
    margin-right: auto;
}

#main-content {
    clear: both;
}

#main-left {
    float: left;
    width: 754px;
}

#main-right {
    border-left: #000 1px dotted;
    float: left;
    width: 231px; /*Original is 233 but has 2 pixels less because of border*/
}

#footer {
    clear: both;
}

#footer-left {
    width: 329px;
    float: left;
}

#footer-center {
    width: 329px;
    float: left;
}

#footer-right {
    width: 329px;
    float: right;
}

.clear {
    clear: both;
}
