<h1>Recuperar Password</h1>
<% form_tag :action=>"recover_password", :method=>:post do %>
<p>    
	<%=label_tag :name_or_email, "Intoduzuda o nome de utilizador ou o email"%>
</p>
<p>
    <%=text_field_tag :name_or_email, @email_or_user_name %>
</p>

<%=submit_tag "Recuperar password"%>
<%end %>
